*{
    transition: all 0.5s;
}
.filter{
    margin: 100px 0 0 150px;
    width: 100%;
}
button{
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    border: 1px solid #0b56a4;
    margin: 20px 0;
    color: #0b56a4;
    font-size: 17px;
}
.group div{
    width: 60px;
    /* height: 70px;  */
    background-color: #0b56a4;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
input{
    background-repeat: no-repeat;
    background-position: 5px 8px;
    background-size: 20px;
    margin: 10px 0;
    padding: 5px 35px;
    height: 25px;
    font-size: 17px;
    width: 500px;
    border: 1px solid #0b56a4;
    color: #0b56a4;
}
#searchInput{
    background-image: url('../img/search-solid.svg');    
}
#addInput{
    background-image: url('../img/plus-solid.svg');    
}
select{
    padding: 8px;
    margin: 0 10px;
    font-size: 16px;
    border: 1px solid #0b56a4;
    display: none;
    transition: all 0.5s;
}
.addDiv{
    height: 0px;
    transition: height 0.5s;
}
.addBtn{
    display: none;
    padding: 8px 20px;
    margin: 10px 0;
}
#myTable{
    margin: 30px 0 0 0;
    width: 80%;  
    border: 1px solid #ddd;
    font-size: 18px;
    border-collapse: collapse;
}
tr.header{
    background-color: #f1f1f1;
    text-align: left;
}
tr.header th{
    padding: 8px 10px;
}
#myTable td{
    padding: 10px;
    text-align: left;
}
#myTable tr {
    border-bottom: 1px solid #ddd;
}






#myUL {
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0;
    width: 80%;
  }
  
  #myUL li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }