*{
    transition: all 0.5s;
}
.filter{
    margin: 100px 0 70px 150px;
}
button{
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    border: 1px solid #0b56a4;
    margin: 20px 0;
    color: #0b56a4;
    font-size: 17px;
}
.group div{
    width: 60px;
    /* height: 70px;  */
    background-color: #0b56a4;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
span{
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
input{
    background-repeat: no-repeat;
    background-position: 5px 8px;
    background-size: 20px;
    margin: 10px 0;
    padding: 5px 35px;
    height: 25px;
    font-size: 17px;
    width: 500px;
    border: 1px solid #0b56a4;
    color: #0b56a4;
}
#searchInput{
    background-image: url('../img/search-solid.svg');    
}
#addInput{
    background-image: url('../img/plus-solid.svg');    
}
select{
    padding: 8px;
    margin: 0 10px;
    font-size: 16px;
    border: 1px solid #0b56a4;
    display: none;
    transition: all 0.5s;
}
.addDiv{
    height: 0px;
    transition: height 0.5s;
}
.addBtn{
    display: none;
    padding: 8px 20px;
    margin: 10px 0;
}
#myTable{
    margin: 30px 0 0 0;
    width: 80%;  
    border: 1px solid #ddd;
    font-size: 18px;
    border-collapse: collapse;
}
tr.header{
    background-color: #f1f1f1;
    text-align: left;
}
tr.header th{
    padding: 8px 10px;
}
#myTable td{
    padding: 10px;
    text-align: left;
}
#myTable tr {
    border-bottom: 1px solid #ddd;
}
@media (max-width: 850px){
    .filter{
        margin: 100px 0 50px 90px;
    }
    input{
        width: 70%;
    }
    .group div{
        padding: 14px;
    }
    select{
        margin: 0 10px 0 0;
    }
}
@media (max-width: 650px){
    .group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }
    .group div{
        padding: 12px;
        margin: 1px;
    }
    .group div:first-child{
        flex: 100%;
    }
    .group div{
        flex: 30%;
    }
}
@media (max-width: 500px){
    .filter {
        margin: 100px 0 50px 20px;
    }
    .group{
        width: 88%;
    }
    #myTable{
        width: 88%;
    }
}
@media (max-width: 425px){
    .filter {
        margin: 100px 0 50px 20px;
    }
    .group div:first-child{
        flex: 100%;
    }
    .group div{
        flex: 30%;
    }
}