body{
    transition: all 0.5s;
    overflow: hidden;
}
nav{
    z-index: 1;
    height: 100%;
    /* width: 300px; */
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black !important;
    transition: all 0.5s;
    overflow-x: hidden;
}
nav ul{
    padding: 50px 0 0 0;
    text-align: center;
}
nav ul li{
    list-style-type: none;
    padding: 10px 65px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav span{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.background{
    background-color: rgba(0, 0, 0, 0.6);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    position: fixed;
}
#open{
    padding: 3px 5px;
    color: black;
    font-size: 25px;
    border: 2px solid black;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    font-weight: bold;
}