body{
    padding: 0 80px;
}
h1{
    text-align: center;
}
div{
    padding: 20px 35px;
    margin-left: -150px;
    opacity: 0;
    transition: all 1s;
    display: inline-block;
}
img{
    width: 330px;
    height: 315px;
}