.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 50px auto;
    position: relative;
}
.hand{
    height: 7px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 100%;
}
.hour{
    width: 22%;
}
.min{
    width: 32%;
}
.sec{
    width: 40%;
}
.num{
    position: absolute;
    font-size: 25px;
}
.num12{
    top: 0;
    right: 48%;
}
.num1{
    top: 7%;
    right: 25%;
}
.num2{
    top: 24%;
    right: 8%;
}
.num3{
    top: 48%;
    right: 2%;
}
.num4{
    bottom: 22%;
    right: 8%;
}
.num5{
    bottom: 7%;
    right: 26%;
}
.num6{
    bottom: 0;
    right: 48%;
}
.num7{
    bottom: 7%;
    left: 26%;  
}
.num8{
    bottom: 23%;
    left: 8%;
}
.num9{
    top: 48%;
    left: 2%;
}
.num10{
    top: 24%;
    left: 7%;
}
.num11{
    top: 7%;
    left: 24%;
}